.comic__img {
  max-width: 18rem;
}

.comics__img-container {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  gap: 20px;
  padding: 2rem;
  background: rgb(217, 130, 85);
  background: linear-gradient(
    90deg,
    rgba(217, 130, 85, 1) 0%,
    rgba(217, 130, 85, 1) 43%,
    rgba(236, 173, 141, 1) 100%
  );
}

.comics__img-child-container {
  flex: 1 0 21%;
}
