.home {
    background-color: #192439;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    padding-top: 7rem;
}

.notFound {
    position: relative;
    top: 3rem;
    font-size: xx-large;
    color: white;
    height: 96vh;
    background-color: #282c34;
    line-height: 10;
}

.verticalCenter {
    vertical-align: middle
}